/* Editor Styles */

body {text-align:left; background-color:#fff;}
p {
	color:#333;
	font: 12px/14px Arial, Helvetica, sans-serif;
}
h1 {font: bold 1.6em/1.8em Arial, Helvetica, sans-serif;margin: 1.2em 0;}
h2 {font: bold 1.3em/1.6em Arial, Helvetica, sans-serif;margin: 1.2em 0;}
h3 {font: bold 1.2em/1.5em Arial, Helvetica, sans-serif;margin: 1.2em 0;}
h4 {font: bold 1.1em/1.4em Arial, Helvetica, sans-serif;margin: 1.2em 0;}
h5 {font: bold 1em/1.3em Arial, Helvetica, sans-serif;margin: 1.2em 0;}
h6 {font: bold 1em/1.3em Arial, Helvetica, sans-serif;margin: 1.2em 0;}
ol {margin-left:25px;}
blockquote {padding:5px; border: 1px dashed #cecece; background: #ececec; color:#323232; margin:3px; font-size:.90em;}
ul#checklist {padding-left:5px; list-style:none;}
#checklist li {background:url(../images/checklist.png) no-repeat left center; padding-left:16px; margin: .25em 0 .25em 0;}